* {
  box-sizing: border-box;
  text-align: center;
}

html {
  background: rgb(63,94,251);
  background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(222,70,252,1) 100%);
}

div.search-container {
  position: relative;
  width: 100%;
  
}

.input {
  padding: 20%;
}

h1 {
  font-family: 'Dekko';
  font-size: 50px;
  color: white;
}

#searchbar {
  color: blue
}

.suggestions {
  position:absolute;
  width: 204px;
  left: 44.5%;
}

ul {
  padding: 0;
  margin: 0;
  
}

li {
  list-style: none;

  width: 100%;
  border: 1px solid black;
  border-top: none;
  
}

button {
  cursor:pointer;
  
  width:100%;
  background: white;
  border: unset;
  text-align: left; /*Has to be here an not in the li or it won't work */
  padding: 0.5em;

}

button:hover {
  background: lightgrey;
}
